.share {
  right:0;
  bottom:0;
  position:fixed;
  width: 55px;
  height: 55px;  
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
  border-radius: 50px;
  transform: translate(-15%, -15%);
}

.share:hover {
  cursor: pointer;
}

.one {
  right:0;
  bottom:0;
  position:fixed;
  line-height: 49px;
  transform: translate(-20%, -9%);

}

#ifr1{
  min-width: 315px; 
  min-height: 500px; 
  border-radius: 10px;
  background-color: white; 
  opacity: 0;
}


